* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #6381A8;
    --rosa: #E9DBDF;
    --branco: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--branco);
    color: #1e1e1e;
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: var(--branco);
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.perfil{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.loginbo{
    padding: -20px;
}

.sobreepai{
    display: block;
    justify-content: center; 
    align-items: center;     
}

header img {
    height: 40px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    
}

.navlo{
    height: 50px;
    width: 70px;
}


.loginbo button {
    padding: 6px 16px;
    background-color: var(--branco);
    border: 1px solid var(--azul);
    color: var(--azul);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.loginbo:hover {
    background-color: var(--azul);
    color: var(--branco);
}

header nav img {
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}


.quemsomos {
    text-align: center;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.botoesquem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quemsomos h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.quemsomos h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--azul);
    margin-bottom: 10px;
}

.quemsomos h4 {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.quemsomos button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.quemsomos a:first-child button {
    background-color: var(--azul);
    color: var(--branco);
    font-size: 20px;
}

.quemsomos a:last-child button {
    background-color: var(--branco);
    color: var(--azul);
    border: 1px solid var(--azul);
    font-size: 20px;
}


.quemse{
    display: flex;
    gap: 370px;
    margin: 30px;
    padding: 0px;
}

.textoquem{
    font-size: 20px
}

.logoquem{
    align-items: ;
    weight: 500px;
    height: 400px;
    margin-top: 90px;
    margin-right: 700px;
    margin-left: -120px;
}

.quemsomos img {
    margin-top: 30px;
    width: 600px;
}


.sobre {
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding: 60px 10%;
    gap: 40px;
    margin-left: -200px;
    margin-top: 40px;
}

.acade{
    display: flex;
}

.sobre img {
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.acadeimg{
    weight: 800px;
    height: 700px;
    align-items: start;
    margin-left: -130px;
    
}

.acade{
    padding: -10px;
}

.sobre h3 {
    font-size: 22px;
    color: var(--azul);
    margin-bottom: 15px;
}

.sobre h4 {
    font-size: 16px;
    color: #555;
    max-width: 500px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 60px 0;
    padding: 0 10%;
}

.cards div {
    background-color: var(--azul);
    color: var(--branco);
    text-align: center;
    padding: 30px 20px;
    border-radius: 15px;
    flex: 1;
    max-width: 350px;
    transition: 0.3s;
}

.cards div:hover {
    transform: translateY(-5px);
    background-color: #4d6a8c;
}

.cards img {
    height: 186px;
    margin-bottom: 105px;
}

.card1{
    height: 500px;
    
}

.calen{
    height: 200px;
    width: 200px;
}


.rodape {
    background-color: #627da5; /* tom azul do rodapé da imagem */
    color: white;
    padding: 40px 80px;
    font-family: Arial, sans-serif;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.coluna-esquerda,
.coluna-direita {
    flex: 1;
    min-width: 250px;
}

.coluna-esquerda h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.coluna-esquerda p,
.coluna-direita p {
    font-size: 14px;
    margin: 6px 0;
}

.coluna-esquerda a {
    color: white;
    text-decoration: none;
}

.coluna-esquerda a:hover {
    text-decoration: underline;
}

.redes-sociais {
    margin-top: 20px;
    margin-left: -18px;
}

.redes-sociais img {
    width: 70px;
    height: 50px;
    margin-right: 15px;
    vertical-align: middle;
    margin-right: -10px;
    margin-right: 10px;
    align-items: start;
}

.coluna-direita{
    align-items: end;
    margin-right: -920px;
}

:root{
    --azul: #6381A8;
    --rosa: #E9DBDF;
    --branco:  #FFFFFF;
}

