<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de aula</title>

    <link rel="stylesheet" href=">
</head>
<body>
    <!-- HEADER -->
  <header>
    <div class="logo">
      <img src="img/logo-ascender.jpg" alt="Ascender Logo">
    </div>
    <nav>
      <a href="homesemnada.html">Sobre</a>
      <a href="dashboardadm.html">Painel</a>
    </nav>
    <div class="perfil">
      <img src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="Usuário">
    </div>
  </header>

    <!-- MAIN -->
    <main >
        <section class="intro">
          <h2>Cadastre uma</h2>
          <p>aula<br> 
            
        </section>
    
        <section class="cadastro-aula">
          <h2>cadastro</h2>
          <form>
            <input type="text" placeholder="Professor" required>
            <input type="text" placeholder="Insira o horário" required>
            <input type="text" placeholder="Insira a modalidade" required>
            <input type="text" placeholder="Capacidade" required>
            <button type="submit">Concluído</button>
          </form>
        </section>
        <p>
            Faça nossas aulas e  <br> 
            colecione momentos<br> 
            inesquecíveis!<br>
        </p>
      </main>
    
      <!-- FOOTER -->
      <footer>
        <div class="footer-left">
          <h3>ASCENDER</h3>
          <ul>
            <li><a href="homesemnada.html">Sobre nós</a></li>
          </ul>
          <div class="social">
            <a href="insta"><img src="https://img.icons8.com/ios-filled/24/instagram-new.png" alt="Instagram"></a>
            <a href="face"><img src="https://img.icons8.com/ios-filled/24/facebook.png" alt="Facebook"></a>
            <a href="linke"><img src="https://img.icons8.com/ios-filled/24/linkedin.png" alt="LinkedIn"></a>
          </div>
        </div>
        <div class="footer-right">
          <p>&copy; 2024 Ascender. Todos os direitos reservados.</p>
        </div>
      </footer>

    
</body>
</html>