<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Aluno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Barra de navegação -->
    <header>
        <div class="logo">
      <img src="img/logo-ascender.jpg" alt="Logo Ascender">
    </div>
        <div>
            <h2>ASCENDER</h2>
            <nav>
                <a href="homesemnada.html">Sobre</a>
                <a href="dashboardaluno.html">Painel</a>
                <a href="editaraluno.html">Perfil</a>
            </nav>
        </div>
    </header>

    <!-- Conteúdo principal -->
    <main class="dashboard">
        <h1>Olá, aluno!</h1>

        <!-- Seção de aulas -->
        <section>
            <h2>Minhas aulas</h2>
            <a href="tabelaaulas.html">+ Inscreva-se</a>

            <!-- Exemplo de aula inscrita -->
            <div>
                <h3>Spinning</h3>
                <p>12/09 - 19h</p>
                <a href="/cancelar/1">Excluir inscrição</a>
            </div>
        </section>

        <!-- Botão editar -->
        <div>
            <a href="editaraluno.html">Editar aluno</a>
        </div>
    </main>

    <!-- FOOTER -->
  <footer>
    <div class="footer-left">
      <h3>ASCENDER</h3>
      <ul>
        <li><a href="homesemnada.html">Sobre nós</a></li>
      </ul>
      <div class="social">
        <a href="insta"><img src="https://img.icons8.com/ios-filled/24/instagram-new.png" alt="Instagram"></a>
        <a href="face"><img src="https://img.icons8.com/ios-filled/24/facebook.png" alt="Facebook"></a>
        <a href="tt"><img src="https://img.icons8.com/ios-filled/24/x.png" alt="Twitter"></a>
      </div>
    </div>

    <div class="footer-right">
      <p>Rua das Acácias, 123 <br>
         Bairro Jardim Primavera <br>
         São Paulo - SP <br>
         CEP: 01234-567</p>
    </div>
  </footer>
</body>
</html>
